      {{#section 'scripts'}}
        

        {{/section}}

        <div>

            {{#if user}}
               <h1>Welcome {{user.email}}!</h1>

              <div>
                <a href="/movies">GET MOVIES</a>

              </div>
              <br>
              <div>
                <a href="/movies/create">CREAT A NEW MOVIES</a>

              </div>
              <br>
              <div>
                <a href="/actors">GET ACTORS</a>

              </div>
              <br>
              <div>
                <a href="/directors">GET DIRECTORS</a>

              </div>
              
              {{else}}
              <a href="/login">Login</a> to Start
            {{/if}}
            
        </div>
