      {{#section 'scripts'}}
        

        {{/section}}

        <div >
            <div>
              {{#each movies}}
                {{!-- <ul>
                  {{#each this}} --}}
                  <div>
                    <ul>
                    {{#each this.dataValues}}
                  <li>
                    {{@key}}
                     {{this}}
                  </li>
                    {{/each}}

                    </ul>

                  </div>
                  {{!-- {{/each}}
                </ul> --}}
              {{/each}}

            </div>

            
        </div>
